.left-column {
  padding: 40px 10px 0 80px;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* Style for the Export Notes button */
.export-notes-button {
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: 1px solid #384959;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  transition: opacity 0.3s, transform 0.3s;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

/* Toolbar styling */
.ql-toolbar {
  background-color: #384959;
  /* Dark background for toolbar */
  color: white;
  /* Ensure text/icons in toolbar are white */
  border: none;
  /* Remove default border */
  border-radius: 8px 8px 0 0;
  /* Match the editor's rounded corners */
}

.ql-toolbar .ql-stroke {
  fill: none;
  stroke: #fff;
}

.ql-toolbar .ql-fill {
  fill: #fff;
  stroke: none;
}

.ql-toolbar .ql-picker {
  color: #fff;
}

/* Toolbar icons (hover state) */
.ql-toolbar button:hover,
.ql-toolbar .ql-picker:hover {
  color: #ff5722;
}

/* Toolbar icons (active state) */
.ql-toolbar button.ql-active {
  color: #ff5722;
  /* Highlight active icons with orange color */
  background-color: transparent;
  /* Keep the background transparent */
}

/* Quill editor container */
.ql-container {
  background-color: white;
  /* White background for the text editor */
  color: black;
  /* Black text color for better contrast */
  border-radius: 0 0 8px 8px;
  /* Match the toolbar's rounded corners */
}

/* Placeholder text inside the editor */
.ql-editor::before {
  color: #aaa;
  /* Light grey placeholder text */
  font-style: italic;
  /* Italic style for placeholder */
}

/* Editor text styling */
.ql-editor {
  font-family: Arial, sans-serif;
  /* Default font for the editor */
  font-size: 16px;
  /* Readable font size */
  line-height: 1.5;
  /* Comfortable line spacing */
  color: black;
  /* Ensure text inside the editor is black */
  padding: 10px;
  /* Add padding for better text alignment */
  height: 720px;
}