.left-column {
    background: linear-gradient(
      to bottom,
      #336699, /* Dark blue at the top */
      #e0e0e0  /* Light blue at the bottom */
    );
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .left-column textarea {
    width: 100%;
    flex-grow: 1;
    height: 70%;
  }
  
  .export-notes-button {
    position: absolute;
    bottom: 20px;
    right: 13px;
    padding: 5px 10px;
    background-color: #384959;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    opacity: 0.9;
    align-self: flex-start;
  }
  