.right-column {
    background: linear-gradient(
      to bottom,
      #336699, /* Dark blue at the top */
      #e0e0e0  /* Light blue at the bottom */
    );
    padding: 15px;
  }
  
  .pdf-preview {
    background: white;
    border-radius: 8px;
    padding: 15px;
  }
  
  .Functionality {
    background-color: #384959;
    border-radius: 7px;
    border: none;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 12px;
    padding: 7px 18px;
    text-decoration: none;
  }
  
  .buttonContainer {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
  }

  #cs70-test-notes img {
    max-width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 4px 0;
  }